.header {
    position: fixed;
    padding: 67px 150px;
    display: block;
    width: 100%;

    &__logo {
        float: left;
        margin-left: 10px;

        &__link {
            display: inline-block;
        }
    }

    &__nav {
        float: right;
        margin-top: 19px;
        margin-right: 48px;
        display: block;
    }

    &__list {
        margin-bottom: 0;

        list-style-type: none;
    }

    &__item {
        font-size: 18px;
        display: inline-block;
        margin-left: 48px;
    }

    &__link {
        color: #fff;
    }

    &__login {
        float: right;
        margin-top: 9px;

        &__btn {
            font-size: 18px;
            border: 1px solid rgba(85, 132, 255, 0.3);
            border-radius: 25px;
            display: inline-block;
            padding: 11px 43px;
        }
    }
}