.header {
    position: fixed;
    padding: 0 145px;
    display: block;
    width: 100%;

    &__logo {

        float: left;

        &__link {
            display: inline-block;
        }
    }

    &__nav {
        display: inline-block;
    }

    &__list {
        margin-bottom: 0;

        list-style-type: none;
    }

    &__item {
        font-size: 18px;
    }

    &__link {
        color: #fff;
    }

    &__login {

        display: inline-block;


        &__btn {
            font-size: 18px;
            border: 1px solid rgba(85, 132, 255, 0.3);
            border-radius: 10px;
        }
    }
}